#banner {
    background-color: lightskyblue;
    margin-top: 75px;
    text-align: center;
}
h1 {
    background-color: lightblue;
    margin-top: auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Georgia;
    text-align: center;
}
#diamondtwin {
    height: 500px;
    width: 750px;
    padding-bottom: 50px;    
}
p {
    background-color: darkgray;
    margin: 50px 400px;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    height: 0 auto;
    text-wrap: wrap;
    text-align: center;
}
ul li{
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contact1 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
body {
    background-color: beige;
}
.bottomnav {
    text-align: center;
    padding-block: 10px;
    font-size: 18px;
}
.footer {
text-align: center;
}
