#banner {
    display: inline-block;
    background-color: lightskyblue;
    margin-top: 25px;
    text-align: center;
}
h1 {
    background-color: lightblue;
    display: block;
    margin-top: auto;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Georgia;
    text-align: center;
}
#diamondda62 {
    display: block;
    height: 500px;
    display: flex;
    width: 750px;
    padding-bottom: 50px;    
}
p {
    background-color: lightseagreen;
    overflow: auto;
    display: block;
    margin: 50px 100px;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    height: 0 auto;
    text-wrap: wrap;
    text-align: center;
}
ul li{
    display: block;
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
}
div.scroll-container {
    display: inline-block;    
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

.contact1 {
    display: block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
body {
    background-image: url(hotelbackground.jpg);
   }

.footer {
text-align: center;
}
.bottomnav{
    display: inline-block;
    border-radius: 4px;
    color: #05A8AA;
    font-weight: 700;
    width: 200px;
    padding: 20px;
    margin: 40px auto;
   border: 1px solid blue;
}
   
   img {
    width: 200px;
    height: 200px;  
    
   }
